<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <title>Nexila Hackathon 2026 | Hackathon for College Students | Nexila Technologies</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Join Nexila Hackathon 2026, an AI & Programming hackathon for college students in Tamil Nadu. Form a team, build real solutions and compete for a ₹50,000 prize pool.">
  <meta name="keywords"
    content="Nexila Hackathon, college students, AI hackathon, programming hackathon,AI and Programming Hackathon ,Tamil Nadu, prize pool, innovation, technology">
  <meta name="author" content="Dreams Technologies">
  <meta name="robots" content="index, follow">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.png">

  <!-- Apple Icon -->
  <link rel="apple-touch-icon" href="/apple-icon.png">
</head>

<body>
  <div id="root"></div>
  <script type="module" src="/src/main.tsx"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</body>

</html>