<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Nexila Hackathon 2026 | Hackathon for College Students </title>

<meta name="description"
content=" Join Nexila Hackathon 2026, an AI & Programming hackathon for college students in Tamil Nadu. Form a team, build real solutions and compete for a ₹50,000 prize pool">

<meta name="keywords"
content="Nexila Hackathon 2026, Hackathon for College Students, AI Hackathon 2026, College Hackathon 2026, Programming Hackathon 2026, AI Hackathon Tamil Nadu, Hackathon in Chennai, Student Hackathon Tamil Nadu, Coding Hackathon 2026, College Student Hackathon, AI and Programming Hackathon, Hackathon Competition 2026">
<meta name="author" content="Nexila Technologies">
  <meta name="robots" content="index, follow">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.png">

  <!-- Apple Icon -->
  <link rel="apple-touch-icon" href="/apple-icon.png">
</head>

<body>
  <div id="root"></div>
  <script type="module" src="/src/main.tsx"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</body>

</html>